*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.idea/
libs
*.iws
*.apk
*.ap_
bin/
gen/
.gradle/
build/
/*/build/
local.properties
proguard/
*.log
version.gradle
.project
app/.classpath
app/.project
app/.settings/
play-service-key.json
